.carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.wrapper {
  margin-bottom: 150px;
  flex: 0 0 400px; /* This ensures the image container doesn't grow or shrink */
}

img {
  border-radius: 12px;
  width: 400px;
  height: 550px;
  display: block;
  margin-bottom: 200px;

}

.carousel-caption {
  margin-top: 150px;
}
.carousel-description {
  margin-bottom: 10px;
  margin-top: 10px;
  word-wrap: break-word;
}



